/* Global Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

nav {
  border-bottom: 1px solid #A4A4A4;
  padding-bottom: 1rem;
}

.navbar-title {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #386641;
}

.navbar-subtitle {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: #444444;
}

.empty-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Adjust this value as needed */
  text-align: center;
  padding: 2rem;
}

.empty-page img {
  width: 200px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 2rem; /* Space between image and h2 */
}
.empty-page h2 {
  font-size: 2.5rem;
  color: #555;
  margin-bottom: 1rem;
}

.empty-page p {
  font-size: 1.5rem;
  color: #777;
  max-width: 500px; /* Prevents text from being too wide on large screens */
  line-height: 1.6;
}